<h1>Make your form here</h1>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>pirates</title>
  </head>
  <body>

    <form method="POST" action="/pirates">
      <label for="Pirate name"> Pirate Name</label>
      <input type="text" id="pirate_name" name="pirate_name">
      <label for="Ship name 1"> Ship name</label>
      <input type="text" id="ship_name_1" name="ship_name_1">
      <label for="Ship name 2"> Ship name</label>
      <input type="text" id="ship_name_2" name="ship_name_2">
      <input type="submit" id="submit">
    </form>
  </body>
</html>
